---
name: Main
on: [pull_request]
jobs:
  main:
    name: Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Lint, Build, Test
        run: |
          yarn
          make
